[Unit]
Description=Run tasks that need to be run on boot

[Service]
Type=oneshot
ExecStart=/usr/bin/python /usr/local/bin/prisms_boot.py

[Install]
WantedBy=multi-user.target
