[Unit]
Description=Run tasks that need to be run on first boot only
ConditionPathExists=!/etc/prisms-firstboot_not_to_be_run

[Service]
Type=oneshot
ExecStart=/usr/local/bin/prisms-firstboot

[Install]
WantedBy=multi-user.target
